<section class="main-container" cdkDropListGroup>
  <div class="left-column">
    <app-playerinput />
  </div>
  <div class="middle-column">
    <app-advanced-rotation-builder />
  </div>
  <div class="right-column">
    <app-dps-display #dpsDisplay />
  </div>
  <div class="chart-column" [class.expanded]="isChartVisible()">
    <div class="chart-header" (click)="isChartVisible.set(!isChartVisible())">
        <span class="header-title">Damage Over Time Chart</span>
        <span class="toggle-icon">{{ isChartVisible() ? '▼' : '▶' }}</span>
    </div>

    <div class="chart-content-wrapper">
        <div class="chart-content">
            @defer (when isBrowser) {
                <app-damageovertime [chartOptions]="dpsDisplay.dotChartOptions"></app-damageovertime>
            } @placeholder {
                <div style="height: 300px; display: flex; align-items: center; justify-content: center; color: #8cabe6;">Loading chart...</div>
            }
        </div>
    </div>
  </div>
</section>
