<div class="stats-input-tab">
  <div class="stats-container">
    <div class="stats-header">
      <div class="search-input-wrapper">
        <fa-icon
          [icon]="FA_SEARCH"
          class="search-icon"
          (click)="lookupRsn.emit(rsn)"
        ></fa-icon>
        <input
          type="text"
          [(ngModel)]="rsn"
          placeholder="Look up RSN..."
          (keyup.enter)="lookupRsn.emit(rsn)"
          class="search-input"
        />
      </div>
    </div>

    <div class="stats-grid-3col">
      <div class="stat-pill" *ngFor="let stat of stats">
        <img
          [attr.data-name]="stat.iconName"
          class="stat-icon"
          [src]="getIcon(stat.iconName)"
          [title]="stat.name"
        />
        <input
            type="number"
            [(ngModel)]="stat.level"
            (change)="onStatValueChange(stat)"
            [max]="stat.maxLevel"
            min="1"
            class="stat-input"
        />
      </div>
    </div>
  </div>
</div>

