.main-chart-card {
  background-color: var(--wiki-theme-dark);
  border-radius: var(--border-radius, 0.75rem);
  border: 1px solid var(--wiki-theme-bright);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  height: 100%;
  width: 100%;
}

.card-header,
.card-body {
  padding: 1rem 1.5rem;
}

.card-header {
  border-bottom: 1px solid var(--wiki-theme-bright);
}

.card-title {
  font-size: 0.875rem;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.7);
}

.card-body {
  height: calc(100% - 50px);
}

.card-body > ::ng-deep apx-chart {
  width: 100%;
  height: 100%;
}
