<div class="main-chart-card">
    <div class="card-body" *ngIf="chartOptions && isBrowser">
        <apx-chart
            [series]="chartOptions.series"
            [chart]="chartOptions.chart"
            [xaxis]="chartOptions.xaxis"
            [yaxis]="chartOptions.yaxis"
            [stroke]="chartOptions.stroke"
            [tooltip]="chartOptions.tooltip"
            [dataLabels]="chartOptions.dataLabels"
            [fill]="chartOptions.fill"
            [colors]="chartOptions.colors"
            [legend]="chartOptions.legend"
            [theme]="chartOptions.theme"
        ></apx-chart>
    </div>
</div>
