.boss-information-container {
  background-color: var(--wiki-theme-dark);
  color: var(--text-primary);
  padding: 15px;
  border-radius: 8px;
  margin-top: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

  h3 {
    color: var(--text-primary);
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1.4em;
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 8px;
  }

  h4 {
    color: var(--text-primary);
    margin-top: 15px;
    margin-bottom: 8px;
    font-size: 1.1em;
  }

  p,
  li {
    margin-bottom: 5px;
    line-height: 1.5;
    color: var(--text-secondary);
  }

  ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 10px;
  }

  strong {
    color: var(--text-primary);
  }

  .affinity-details {
    margin-top: 15px;
    padding-left: 10px;
    border-left: 3px solid var(--border-color);
  }
}
