<div class="section-label">COMBAT POTIONS</div>
  <div class="potions-grid">
    <div
      *ngFor="let potion of potions"
      class="potion-item"
      [class.disabled]="herbloreLevel < potion.minLevel"
      [class.active]="activePotion === potion.name"
      (click)="herbloreLevel >= potion.minLevel && selectPotion(potion.name)"
      [title]="potion.name + (herbloreLevel < potion.minLevel ? ' (Requires Level ' + potion.minLevel + ')' : '')"
    >
      <img
        [attr.data-name]="potion.name"
        class="potion-icon"
        [src]="getIcon(potion.name)"
      />
    </div>
  </div>
