@use '../helpers';

:host {
}

.dropdown-container {
  width: 100%;
  margin: 0 auto 1.5rem auto;
  @include helpers.dropdown;
  .spell-option {
    @include helpers.dropdown-trigger;
  }
}

.spells-container {
  @include helpers.card;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  .spell {
    height: 4rem;
    background-color: var(--input-bg);
    border: 1px solid var(--border-color);
    border-radius: var(--radius-sm);
    cursor: pointer;
    transition: all 0.2s ease-out;
    padding: 0.5rem;
    &:hover {
      transform: scale(1.05);
      border-color: var(--active-color);
    }
    &.active {
      border-color: var(--active-color);
      box-shadow: 0 0 10px var(--active-color);
    }
  }
}